body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

[contenteditable]:focus {
    outline: 1px solid #ddd;
}

[contenteditable] {
    border: 1px solid transparent;
}
[contenteditable]:hover, .axis-label:focus {
    border: 1px solid #ddd;
}

.chart {
  display: flex;
}
